    <md-toolbar class="md-theme-light">
        <h2 layout="row" layout-align="space-between center" class="md-toolbar-tools">
      <span>{{ ac.type }}</span>
    </h2>
    </md-toolbar>
    
     <md-card>
         
        <md-card-title>
          <md-card-title-text>
           <md-card-title-media>
            <div style="display:inline-block;" class="md-media-lg card-media"></div>
               <md-button style="display:inline-block;" class="edit" ng-click="pc.showUpdateDialog($event, info.id);"></md-button>
          </md-card-title-media>

              <p style="text-align: left;">
                  I have been a .NET developer for over 5 years using primarily C#.NET and some VB.NET.  I have extensive web development experience working with ASP.NET specializing in ASP.NET MVC but also well-versed in ASP.NET Web Forms. I understand and have experience working with the full stack of web development tools from the front end technologies such as HTML 5, CSS3, JavaScript and notable libraries such as jQuery, Bootstrap and AngularJS, to the middle tier technologies such as ADO.NET and its ORM ADO.NET Entity Framework and finishing with back end technologies such as SQL Server using T-SQL and Oracle DB using PL/SQL.  I also have a growing knowledge of cloud technologies for IaaS, and PaaS such as Microsoft Azure. I have experience leading multiple developers to hone their skills in all of the mentioned technologies.
             
              </p>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
        </md-card-actions>
      </md-card>