          <task-nav flex="100" layout layout-align="center center"> 
        </task-nav>
    <h1>  Construct a Data Flow Diagram</h1>
    <div flex="50" flex-offset="25"  layout="column" layout-align="center center">
      <md-card>
        <!--<img ng-src="http://d1dlalugb0z2hd.cloudfront.net/solutions/drawdfd/draw-dfd.png" class="md-card-image" alt="Washed Out">-->
        <!--<md-card-title>
          <md-card-title-text>
            <span class="md-headline">Create Artifact: Data Flow Diagram</span>
          </md-card-title-text>
        </md-card-title>-->
         <md-card-actions layout="row" layout-align="center center">
          <md-button class="success" ng-click="updateProgress()" >Upload Artifact</md-button>
          <!--<md-button ng-class="done()" ng-click="updateProgress()">{{ complete}}</md-button>-->
        </md-card-actions>
        <md-card-content>
          <p>
             A flow diagram represents the flow of data from one system to another int he application. An example is above. Create
             a similar flow diagram for your project outlining the various systems and the flow of data between client and server.
             Below are links to resources you can use to help you create it.
          </p>
          <div layout="row" layout-align="center center">
          <md-button class="md-primary md-raised" ng-click="notes($event)">Reference Documents and Additional Notes</md-button>
          </div>
        </md-card-content>
        <!--<md-card-actions layout="row" layout-align= "end center">
          <md-button class="success" >Upload Artifact</md-button>
          <md-button ng-class="done()" ng-click="updateProgress()">{{ complete}}</md-button>
        </md-card-actions>-->
      </md-card>
	 </div>