        <task-nav flex="100" layout layout-align="center center"> 
        </task-nav>
<div doc-fill flex style="position: relative;"layout layout-align="center center">
      
      
      
  




        
</div>

<!--<md-whiteframe flex="33" class="md-whiteframe-20dp"  layout="column">
        <md-button  ng-class="desc(currentTask)"> Project Description </md-button>
        <md-button  ng-disabled="true" class="md-accent"> Fundamental Requirements</md-button>
        <md-button  ng-disabled="true" class="md-accent"> External Interface Requirements </md-button>
        <md-button  ng-disabled="true" class="md-accent"> Technical Requirements (Non - Functional) </md-button>
        <md-button  ng-disabled="true" class="md-accent"> Use Case 1 </md-button>
        <md-button  ng-disabled="true" class="md-accent"> Use Case 2 </md-button>
        <md-button  ng-disabled="true" class="md-accent"> Open Issues</md-button>
</md-whiteframe>    -->

    <!--<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-button ng-click="switchTask(-1)" class="md-accent"> Dive 1 Overview </md-button>
      <md-button ng-repeat="task in tasks" ng-class="done(task)" ng-click="switchTask($index, $event)"> {{"Task " + ($index + 1)}}</md-button>
      <md-button ng-click="switchTask(-1)" ng-disabled="true" class="md-accent"> Dive 3 Overview </md-button>
      <md-button ng-click="switchTask(-1)" ng-disabled="true" class="md-accent"> Dive 4 Overview </md-button>
    </md-sidenav>-->