<md-dialog style="min-width: 30vw;" aria-label="Add Info">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add {{dlg.type}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlg.cancel()">
                <md-icon md-svg-src="styles/icons/close.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ng-click="dlg.addNewInfo();" label="Add New Info">
                <md-content class="md-padding">

                    <form name="infoForm">
                        <div flex layout layout-align="start center">
                            <md-checkbox style="text-align: left; margin:0px;" class="green md-align-bottom-left" ng-model="dlg.newResource.global" aria-label="Show Globally">
                                Show Globally
                            </md-checkbox>
                        </div>
              
                        <md-input-container input-generator new-resource="dlg.newResource" type="dlg.type" class="md-block">
                       
                        </md-input-container>
                    </form>

                </md-content>
            </md-tab>

            <md-tab ng-click="dlg.addExistingInfo();" label="Add Existing Info">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item ng-repeat="info in dlg.resourceData | notShown:dlg.pId">
                            <p>
                                 <span class="md-headline">{{ info.degree }}</span> 
                                  <br>  
                                 <span class="md-subhead">{{ info.field}}</span>
                            </p>
                            <md-checkbox ng-model="dlg.add[$index]" ng-change="dlg.addExisting(info, dlg.add[$index]);" class="green md-secondary"></md-checkbox>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
            </md-tab>

        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="dlg.cancel()">
            Cancel
        </md-button>
        <md-button ng-click="dlg.performAddition(dlg.newResource, dlg.existingAdditions)" style="margin-right:20px;">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>