
<div flex layout="column" layout-align="center center">
<h1>   Keni Steward</h1>    

<h2>    
    Software Engineer
</h2>
    
</div>


<div layout layout-align="space-around start" layout-wrap>   
    
    <!--<container-generator layout="column" ng-repeat="portfolioInfo in pc.containers" section-data="portfolioInfo.data"  portfolio-Info="portfolioInfo.containerType" flex="45" >   
    </container-generator>-->
    
    <div flex="45" layout="column">   
        <about-container>   </about-container>
        <education-container>   </education-container>
    </div>   
     <div flex="45" layout="column">   
         <!--<info-container section-data="pc.containers[1].data">   </info-container>-->
         <skill-matrix-container>   </skill-matrix-container>
    </div>

</div>

