<md-dialog aria-label="Dive 1: Artifact Task Information"  ng-cloak>
  <form> 
    
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Dive 1: Foodar Additional Information </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>

    </md-toolbar>
    
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Foodar</h2>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fringilla at enim ullamcorper mattis. Sed lobortis sollicitudin neque id consectetur. Ut dapibus tempus diam, posuere sollicitudin diam scelerisque eget. Nullam dui nisi, eleifend et massa ac, mollis consequat enim. Nunc nec pulvinar magna. Aliquam cursus arcu tellus, eu suscipit odio cursus quis. Phasellus non finibus eros. Cras ac placerat ligula.
        </p>
              <h2> Reference Links </h2>
      
      <dl>
  <dt><h3> Material Design Lite </h3></dt>
  <dd><a href="http://www.tutorialspoint.com/materialdesignlite/index.htm"> Tutorials Point </a> </dd>

  <!-- other terms and definitions -->
</dl>
      </div>
      

      
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button  class="md-primary">
        Download Reference Documents
      </md-button>
      <md-button ng-click="hide()">
       Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>