<md-dialog aria-label="Dive 1: Artifact Task Information"  ng-cloak>
  <form> 
    
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Dive 1: Artifact Task Information </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Data Flow Diagrams</h2>
        <p>
           A flow diagram represents the flow of data from one system to another int he application. An example is above. Create
             a similar flow diagram for your project outlining the various systems and the flow of data between client and server.
             Below are links to resources you can use to help you create it.
        </p>
        <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="http://images.visual-paradigm.com/docs/vp_user_guide/11/285/2145/2150/sample_dfd_16611.png">
        <p>
      A flow diagram represents the flow of data from one system to another int he application. An example is above. Create
             a similar flow diagram for your project outlining the various systems and the flow of data between client and server.
             Below are links to resources you can use to help you create it. A flow diagram represents the flow of data from one system to another int he application. An example is above. Create
             a similar flow diagram for your project outlining the various systems and the flow of data between client and server.
             Below are links to resources you can use to help you create it.
        </p>
        
              <h2> Reference Links </h2>
      
      <dl>
  <dt><h3> Material Design Lite </h3></dt>
  <dd><a href="http://www.tutorialspoint.com/materialdesignlite/index.htm"> Tutorials Point </a> </dd>

  <!-- other terms and definitions -->
</dl>
      </div>
      

      
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button  class="md-primary">
        Download Reference Documents
      </md-button>
      <md-button ng-click="cancel()">
       Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>